[submodule "LMS"]
	path = LMS
	url = https://github.com/Phibedy/LMS
[submodule "external/libraries/imaging"]
	path = external/libraries/imaging
	url = https://github.com/lms-org/imaging.git
[submodule "external/modules/camera_importer"]
	path = external/modules/camera_importer
	url = https://github.com/lms-org/camera_importer.git
[submodule "external/modules/ueye_importer"]
	path = external/modules/ueye_importer
	url = https://github.com/lms-org/ueye_importer.git
[submodule "external/libraries/math_lib"]
	path = external/libraries/math_lib
	url = https://www.github.com/lms-org/math_lib.git
[submodule "external/modules/image_converter"]
	path = external/modules/image_converter
	url = https://github.com/lms-org/image_converter.git
[submodule "external/libraries/sense_link"]
	path = external/libraries/sense_link
	url = https://github.com/tum-phoenix/sense_link.git
[submodule "external/modules/usb_sense_link"]
	path = external/modules/usb_sense_link
	url = https://github.com/tum-phoenix/usb_sense_link.git
